/* Style for index.php */

/*Header
-------------------------------------------------------------------------------------------*/
.header {
    border: solid red;
    height: 253px;
}

.header .row-1 {
    width: 100%;
    height: 84px;
    border: solid black;
}

.header .row-1 a {
    color: grey;
}

.header .row-1 .support-link {
    margin-left: 500px;
    width: 500px;
    height: 84px;
    float: left;
    border: solid green;
}

.header .row-1 .support-link ul, a {
    list-style-type: none;
    text-decoration: none;
}

.header .row-1 .support-link ul li {
    float: left;
    margin: 10px;
}

.header .row-1 .user-link {
    width: 500px;
    height: 84px;
    float: left;
    border: solid yellow;
}

.header .row-1 .user-link ul, a {
    list-style-type: none;
    text-decoration: none;
}

.header .row-1 .user-link ul li {
    float: left;
    margin: 10px;
}

.header .row-2 {
    width: 100%;
    height: 84px;
    border: solid blue;
}

.header .row-2 .title {
    float: left;
    margin-left: 500px;
}

.header .row-2 .search-box {
    float: left;
    margin-left: 200px;
}

.header .row-2 .cart {
    float: left;
    margin-left: 200px;
}

.header .row-3 {
    width: 100%;
    height: 70px;
    border: solid green;
}